annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==3.0.0
async-lru==2.0.5
attrs==24.1.0
autocommand==2.2.2
Babel==2.15.0
beautifulsoup4==4.13.3
bleach==6.2.0
btrfsutil==6.14
build==1.2.2
cairocffi==1.6.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comm==0.2.2
cryptography==44.0.3
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
Glances==4.3.1
gpg==1.24.2
h11==0.16.0
html2text==2024.2.26
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
installer==0.7.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.5
json5==0.12.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
more-itertools==10.6.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
nftables==0.1
notebook==7.4.2
notebook_shim==0.2.4
numpy==2.2.5
orjson==3.10.18
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyaml==24.12.0
pycairo==1.28.0
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
PyGObject==3.52.3
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySocks==1.7.1
python-dateutil==2.9.0
python-json-logger==3.3.0
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
Reflector==2023.6.28.0.36.1
requests==2.32.3
rich==14.0.0
rpds-py==0.22.3
rpm==4.20.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
selenium==4.32.0
semantic_version==2.10.0
Send2Trash==1.8.3
setuptools==80.3.1
setuptools-rust==1.11.1
shtab==1.7.2.dev0+g61ec99d.d20241116
six==1.17.0
smbus==1.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
stack_data==0.6.3
TBB==0.2
termcolor==2.5.0
tinycss2==1.4.0
tldr==3.4.1
toml==0.10.2
torbrowser-launcher==0.3.7
tornado==6.4.2
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.0
typing_extensions==4.13.2
uc-micro-py==1.0.3
urllib3==2.4.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
wsproto==1.2.0
zipp==3.21.0
